/* Typography*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic,500italic&subset=cyrillic-ext,latin-ext);

/* Widths */
$defaultMenuWidth: 3;
$defaultContentWidth: $totalColumns - $defaultMenuWidth;
$focusMenuWidth: 1;
$focusContentWidth: $totalColumns - $focusMenuWidth;

/* Colors */
$white: #ffffff;
$offwhite: #fffffd;
$borderColor: #ddd;

// Provide a hook for elements that need to bleed beyond the row margins
.row .bleed {
	margin: 0 (-($columnGutter/2));
}

// Make glyps behave
.glyph.general {
	line-height: 0%;
}
.button {
	.glyph.general {
		margin: 0 0.3em 0 -0.4em;
	}
}

.embossed-down {
	text-shadow: 0px 1px 1px $white;
}
.embossed-up {
	text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);	
}

h1, h2, h3, h4, h5, h6 { font-weight: 400;}

/* Additional Resets */
* {
	font-family: Ubuntu;
	font-weight: 300;
}
html, body {
	background: $offwhite;
	// padding: 10px;
	min-height: 100%;
	height: 100%;
}

a#expander {

	@include border-radius(5px);
	@include single-box-shadow(rgba(0,0,0,.4), 0, 1px, 2px, 0, true);

	color: $txtColor;
	display: inline-block;
	margin-bottom: 15px;
	padding: 8px;

	span {
		display: none;
	}
	&:before {
		@extend .icon;
		@extend .icon.fullscreen;
	}
}

@mixin background-color($color, $transparency:1) {
	background-color: $color;
	@if($transparency<1) {
		background-color: shade($color,$transparency);
	}
}

@mixin buttonBackground() {
	@include background-image(linear-gradient(color-stops(rgba(#fff, .3), rgba(#fff, .0) 60%)));
}

@mixin buttonBackgroundHover($color) {
	@include background-image(linear-gradient(color-stops(rgba($color, .0), rgba($color, .2) 60%)));
}

// /* Custom */
@import "icons";
@import "header";
@import "menu";
@import "suckerfish";
@import "resources";
@import "buttons";

