/* Link List */
.hidden{display: none}

/* Portlet Container
----------------------------------*/
.portlet { background-color: #e9e9e9; clear: right; float:left; border-left: solid 3px silver; width: 44%; padding:3px }
.portlet-content { background: #e9e9e9; margin: 2em;  }
.portlet-header { color: #404040; margin: 2em; }
.portlet-header .icon { float: right; }

/* Icons
----------------------------------*/
.icon { width: 16px; height: 16px; background-image: url(Images/ui-icons_72a7cf_256x240.png); }
.portlet-header .icon {background-image: url(Images/ui-icons_72a7cf_256x240.png); }
.portlet-content .icon {background-image: url(Images/ui-icons_72a7cf_256x240.png); }

/* Positioning */
.icon-plus { background-position: -16px -128px; }
.icon-minus { background-position: -48px -128px; }
.icon-close { background-position: -80px -128px; }

/* Sortable Placeholder */
.ui-sortable-placeholder { border: 5px dotted gray; visibility: visible !important; height: 100px !important; background-color: #ffff99 ; width: 96%}
.ui-sortable-placeholder * { visibility: hidden; }
