<?xml version="1.0" encoding="utf-8"?>
<acl>
    <actions>
        <action name="admin">
            <label>Administer</label>
            <hint>Permission to administer all functions for this content.</hint>
        </action>
        <action name="create">
            <label>Create</label>
            <hint>Permission to create this content.</hint>
        </action>
        <action name="view">
            <label>View</label>
            <hint>Permission to view this content.</hint>
        </action>
        <action name="edit">
            <label>Edit</label>
            <hint>Permission to update this content.</hint>
        </action>
        <action name="publish">
            <label>Publish</label>
            <hint>Permission to publish this content.</hint>
        </action>
        <action name="delete">
            <label>Delete</label>
            <hint>Permission to delete this content</hint>
        </action>
    </actions>
</acl>
