@font-face {
    font-family: 'FoundationIconsGeneral';
    src: url('../Fonts/foundation-icons-general.eot');
    src: url('../Fonts/foundation-icons-general.eot?#iefix') format('embedded-opentype'), url('../Fonts/foundation-icons-general.woff') format('woff'), url('../Fonts/foundation-icons-general.ttf') format('truetype'), url('../Fonts/foundation-icons-general.svg#FoundationIconsgeneral') format('svg');
    font-weight: normal;
    font-style: normal;
}

.glyph {
    cursor: default;
    font-size: 16px;
    line-height: 1;
}

.glyph.general {
    font-family: 'FoundationIconsGeneral';
}
