/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/
* { margin: 0; }
html, body { height: 95%; }
.wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -100px; }
.footer, .push { height: 100px; }
.footer { background-color: #262a30; color: #222}
.main { padding-top: 30px}
