.floatleft {
    float: left;
    position: absolute;
    padding: 10px;
}

.loatleft p {
    font-weight: bold !important;
    color: #545454;
}

.cform {
    width: 268px;
    margin: auto;
}

.contact-form {
    margin: 5px;
    padding: 0;
    padding-bottom: 150px;
}

.contact-form p input[type=text] {
    background-color: #525461;
    color: #fff;
    border: none;
    width: 100%;
    height: 36px;
    padding-left: 4px;
}

.contact-form p textarea {
    padding-left: 4px;
    background-color: #525461;
    color: #fff;
    border: none;
    width: 99%;
    height: 176px;
    font-family: Verdana;
    font-size: 12px;
}

.contact-form p input[type=submit] {
    color: #3E414A;
    background-color: #FFEF00;
    border: none;
    float: right;
}

.cform .map {
    width: 100%;
    height: 176px;
    background-color: White;
}

.address p {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

/* Button */

.button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    overflow: visible;
    padding: 5px 15px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    width: auto;
    text-align: center;
}

.button:hover {
    background: #111111;
    color: #FFFFFF;
}

.button:active {
    background: #242424;
}

.gray.button {
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
    border: 1px solid #BBBBBB;
    color: #555555 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.gray.button:hover {
    background-color: #EEEEEE;
    border-color: #999999;
    color: #444444 !important;
}

.gray.button:active {
    background-color: #ffffff;
}

.portfolio {
    margin: 50px 0px;
}

.portfolio img {
    padding: 4px;
    border: 1px solid #e6e6e6;
    margin: 10px;
}

.portfolio img:hover {
    border: 1px solid #D6D6D6;
}
