<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<title>cleanslate</title>
	<link type="text/css" href="../css/cleanslate.css" rel="stylesheet" />
	<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
</head>
	<body>
		<div class="body-container">
			<header class="main">
				<span class="logo">clean<b>slate</b></span>
				<input type="search">
			</header>
			<nav>
				<ul>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Styles</a></li>
					<li><a href="#">Layout</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
			<section>
				<header>
					<span><b>"</b>Action will remove the doubt that theory cannot solve.<i>~ Pehyl Hsieh</i></span>
					<img src="../images/logo_molajo.png">
				</header>
				<div>
					<h2>mvc:abstracted</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
					<button>Learn More</button>
				</div>
				<div>
					<h2>acl:simplified</h2>
					<p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</p>
					<button>Learn More</button>
				</div>
				<div>
					<h2>admin:redefined</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
					<button>Learn More</button>
				</div>
				<div>
					<h2>templating:empowered</h2>
					<p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</p>
					<button>Learn More</button>
				</div>
			</section>
			<footer></footer>
		</div>
	</body>
</html>