.pushup-form {
    width: 302px;
    background-color: #3D4049;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.pushup-form.left {
    border-right: solid 2px #000;
}

.pushup-form.right {
    border-left: solid 2px #000;
}

.clear {
    clear: both;
}

.btn-close {
    color: #3E414A;
    background-color: #FFEF00;
    border: none;
    width: 40px;
    height: 16px;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    padding-top: 2px;
}

.btn-close.left {
    float: right;
    margin-right: 15px;
}

.btn-close.right {
    float: left;
    margin-left: 15px;
}

.btn-show {
    color: #3E414A;
    background-color: #FFEF00;
    border: none;
    width: 40px;
    height: 16px;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    padding-top: 2px;
    margin-top: 10px;
    position: absolute;
}

.pushup-form {
    z-index: 100; /*margin-right: -40px;*/
}

.btn-show {
    z-index: 99;
}

#success {
    color: #FFEF00;
    height: 30px;
}

p {
    font-weight: normal !important;
}


