/*
 * This stylesheet contains styling for resources.
 *
 *
 *
 */

section header {
	background: darken($white, 10);
	padding: ($columnGutter/2);
	>*:first-child {
		margin-top: 0;
	}
	h1 {
		@extend .embossed-down;
		@include font-size(28);
		color: $mainColor;
		font-weight: 700;
		line-height: 100%;
		margin-bottom: $columnGutter;
	}
}

// Move this one somewhere more appropriate:
a>i {
	@extend .glyph;
	@extend .glyph.general;
	cursor: pointer;
	font-style: normal;
}

// Move this one somewhere more appropriate:
button {
	@extend .button;
}

// Move this one somewhere more appropriate:
.add:after {
	@extend .glyph;
	@extend .glyph.general;
	content: "d";
}

// Move this one somewhere more appropriate:
.dismiss {
	display: block;
	text-align: right;
	a {
		color: inherit;
		font-weight: 600;
	}
	i {
		@include border-radius(3px);
		@include font-size(10);
		background: $mainColor;
		color: $white;
		margin: 0 5px 0;
		padding: 2px 8px 7px;
	}
}

.pagination {
	ul {
		@include font-size(12);
		list-style-type: none;
		margin: 0 0 -20px;
		li {
			display: inline;
		}
	}
}

[role="main"] {
	// margin-top: 15px;
	table.grid {
		width: 100%;
		thead {
			th {
				vertical-align: top;
				span {
					display: block;
				}
				input {
					&[type="text"] {
						width: 10em;
					}
					&[type="number"] {
						width: 3em;
					}
				}
			}
			tr#batch-actions {
				th {
					background: darken($borderColor, 20);
					font-weight: 400;
					text-align: right;
					>div,
					.dismiss {
						display: none;
					}
					div {
						text-align: left;
					}
				}
				&:target {
					th {
						>div,
						.dismiss {
							display: block;
						}
					}
				}

			}
		}
	}

	// Table Configuration
	dl#table_config {
		margin: 0;
		text-align: right;
		width: 100%;
		dt {
			i {
				@include border-top-radius(3px);
				background: $borderColor;
				color: $txtColor;
				display: inline-block;
				padding: 6px 10px 14px;
				&+span {
					display: none;
				}
			}
		}
		dd {
			display: none;

			@include border-top-radius(3px);
			@include border-right-radius(0);

			@include transition();

			background: $borderColor;
			margin: 0 0 2px;
			padding: 0.5*$navBarHeight;
			position: relative;
			text-align: left;
		}
		&:target {
			dt {
				margin-bottom: -2px;
			}
			dd {
				display: block;
			}
			&+table {
				@include border-top-radius(0);
			}
		}
		&+table {
			@include border-top-radius(0);
			@include border-left-radius(3px);
		}
	}
}

[id^="resource-"].reveal-modal {
	left: 0;
	margin: 0;
	min-height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 300;
	.reveal-modal-header {
		// @extend .bleed;
		background: darken($white, 10);
		margin: -30px -30px 30px;
		padding: 30px;

	}
	&+.reveal-modal-bg {
		background: darken($white, 10);
	}
	h1 {
		@extend .embossed-down;
		@include font-size(28);
		color: $mainColor;
		font-weight: 700;
		line-height: 100%;
	}
	h2 {
		@extend .embossed-down;
		@include font-size(16);
		color: darken($white, 30);
		font-weight: 500;
	}
}

