@charset "utf-8";
/* CSS Document */
/* @font-face */

@font-face {
    font-family: 'HarabaraBold';
    src: url('../fonts/harabara-webfont.eot');
    src: url('../fonts/harabara-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/harabara-webfont.woff') format('woff'),
         url('../fonts/harabara-webfont.ttf') format('truetype'),
         url('../fonts/harabara-webfont.svg#HarabaraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {font-family:Helvetica,Arial,sans-serif;}

#content-below,
#footer-above {margin-top:25px;float:left;width:100%;}
#footer-above .gutter {margin:5px;float:right;}
#footer-above ul.menu li {float:right;}
#footer {text-align:right;}

#header, #footer, #nav {max-width:80.5em;margin:0 auto;}

#header .gutter {margin-bottom:0px;}

#logo a,
.item h2 a,
.moduletable h3 {font-family: 'HarabaraBold',Helvetica,Arial,FreeSans,sans-serif;}
.item h2 a,
.item-page h2 a {color:#6F0;}
.item h2 a span.twotone,
.item-page h2 a span.twotone {color:#454545;}

#logo a:link, #logo a:visited, #logo a:hover {text-indent:0;width:auto;height:auto;border-bottom:7px solid #444; padding-bottom:25px;margin-left:25px;color:#999;}
#logo a span.twotone {color:#454545;}


#nav{width:100%;padding:10px;}
#nav ul{position:relative;float:right;right:50%}
#nav ul li{position:relative;float:left;left:50%;margin:0}
#footer-above ul.menu li a,
#nav ul li a{color:#454545;text-transform:uppercase;}
#nav ul li ul{display:none;position:absolute;top:100%;left:0;right:auto;width:800px;}
#nav ul li ul li{left:auto;margin:0;display:inline;width:auto;}
#nav ul li:hover ul{display:block}
#nav ul li.last ul{left:auto;right:0}

#nav, #content-below, #footer-above, .items-row {background:#f7f7f7;-moz-border-radius: 0 10px 0 0;-webkit-border-radius: 0 10px 0 0;border-radius: 0 10px 0 0;}

.date-container {display:none;}
.items-row:after{clear:both;content:".";font:1px/0;display:block;height:0;visibility:hidden}

.item h2,
.moduletable h3 {border-top:7px solid #6F0;padding-top:20px;margin-top:-17px;}
.moduletable h3 {border-top: 7px solid #444;}
#content-below-3 .moduletable h3 {border-top:0px;}

a.button, button, input[type="submit"], input[type="button"],.readmore a {
	background: #ddd;
	background-image: -moz-linear-gradient(100% 100% 90deg, rgba(225,225,225,1), rgba(255,255,255,1));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,1)), to(rgba(225,225,225,1)));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd');
	-moz-border-radius: 2px 12px 2px 2px;
	-webkit-border-radius: 2px 12px 2px 2px;
	border-radius: 2px 12px 2px 2px;
	-moz-box-shadow: 1px 1px 5px #ddd;
	-webkit-box-shadow: 1px 1px 5px #ddd;
	border-box-shadow: 1px 1px 5px #ddd;
	border: 1px solid #ccc;
	padding: 6px 10px;
	white-space: nowrap;
	color: #444;
	font: normal .85em/1em sans-serif;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
	text-transform: uppercase;
}

a.button:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover,.readmore a:hover {
	background: #cdcdcd;
	background-image: -moz-linear-gradient(100% 100% 90deg, rgba(215,215,215,1), rgba(255,255,255,1));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,1)), to(rgba(215,215,215,1)));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cdcdcd');
	-moz-box-shadow: 1px 1px 3px #cdcdcd;
	-webkit-box-shadow: 1px 1px 3px #cdcdcd;
	border-box-shadow: 1px 1px 3px #cdcdcd;
}

a.button:active, button:active, input[type="submit"]:active, input[type="button"]:active,.readmore a:active {
	-moz-box-shadow: inset 1px 1px 3px, 1px 1px 1px  #cdcdcd;
	-webkit-box-shadow: inset 1px 1px 3px #cdcdcd;
	border-box-shadow: inset 1px 1px 3px #cdcdcd;
}