#nav li li, #nav li li a {height: 1%;}
#load-first {height: 1%;}
#content-main{height:1%;}
#content-container ul li{ list-style-position:outside;}

.alpha-1-main #content-main{width:79%;} 
.alpha-2-main #content-main{width:60%;} 
.main-beta-1 #load-first{width:79%;} 
.main-beta-2 #load-first{width:60%;} 
.alpha-1-main-beta-1 #load-first{width:79%;}  
.alpha-1-main-beta-1 #content-main{width:72.2%;} 
.alpha-2-main-beta-1 #load-first{width:79%;}  
.alpha-2-main-beta-1 #content-main{width:60%;}  
.alpha-1-main-beta-2 #load-first{width:60%;}  
.alpha-1-main-beta-2 #content-main{width:63.5%;} 
.alpha-2-main-beta-2 #load-first{width:60%;}  
.alpha-2-main-beta-2 #content-main{width:31%;} 

/* Dynamic max-widths for images and objects*/
.main-only #content-main img,
.main-only #content-main object{width: expression(this.width > 966 ? '100%' : true);}

.alpha-1-main #content-main img,
.alpha-1-main #content-main object{width: expression(this.width > 800 ? '100%' : true);}
.alpha-1-main #column-group-alpha img,
.alpha-1-main #column-group-alpha object{width: expression(this.width > 200 ? '100%' : true);}

.alpha-2-main #content-main img,
.alpha-2-main #content-main object{width: expression(this.width > 600 ? '100%' : true);} 
.alpha-2-main #column-group-alpha img,
.alpha-2-main #column-group-alpha object{width: expression(this.width > 400 ? '100%' : true);}

.alpha-1-main-beta-1 #content-main img,
.alpha-1-main-beta-1 #content-main object{width: expression(this.width > 742 ? "100%" : true);}
.alpha-1-main-beta-1 #column-group-alpha img,
.alpha-1-main-beta-1 #column-group-alpha object{width: expression(this.width > 258 ? '100%' : true);}
.alpha-1-main-beta-1 #column-group-beta img,
.alpha-1-main-beta-1 #column-group-beta object{width: expression(this.width > 200 ? '100%' : true);}

.alpha-2-main-beta-1 #content-main img,
.alpha-2-main-beta-1 #content-main object{width: expression(this.width > 600 ? '100%' : true);} 
.alpha-2-main-beta-1 #column-group-alpha img,
.alpha-2-main-beta-1 #column-group-alpha object{width: expression(this.width > 400 ? '100%' : true);}
.alpha-2-main-beta-1 #column-group-beta img,
.alpha-2-main-beta-1 #column-group-beta object{width: expression(this.width > 200 ? '100%' : true);}

.alpha-1-main-beta-2 #content-main img,
.alpha-1-main-beta-2 #content-main object{width: expression(this.width > 655 ? '100%' : true);}
.alpha-1-main-beta-2 #column-group-alpha img,
.alpha-1-main-beta-2 #column-group-alpha object{width: expression(this.width > 345 ? '100%' : true);}
.alpha-1-main-beta-2 #column-group-beta img,
.alpha-1-main-beta-2 #column-group-beta object{width: expression(this.width > 400 ? '100%' : true);}

.alpha-2-main-beta-2 #content-main img,
.alpha-2-main-beta-2 #content-main object{width: expression(this.width > 330 ? '100%' : true);} 
.alpha-2-main-beta-2 #column-group-alpha img,
.alpha-2-main-beta-2 #column-group-alpha object{width: expression(this.width > 660 ? '100%' : true);}
.alpha-2-main-beta-2 #column-group-beta img,
.alpha-2-main-beta-2 #column-group-beta object{width: expression(this.width > 400 ? '100%' : true);}

.main-beta-1 #content-main img, 
.main-beta-1 #content-main object,
.main-beta-2 #content-main img,
.main-beta-2 #content-main object{width: expression(this.width > 966 ? '100%' : true);} 
.main-beta-1 #load-first img,
.main-beta-1 #load-first object{width: expression(this.width > 800 ? '100%' : true);} 
.main-beta-2 #load-first img,
.main-beta-2 #load-first object{width: expression(this.width > 600 ? '100%' : true);} 
.main-beta-1 #column-group-beta img,
.main-beta-1 #column-group-beta object{width: expression(this.width > 200 ? '100%' : true);}
.main-beta-2 #column-group-beta img,
.main-beta-2 #column-group-beta object{width: expression(this.width > 400 ? '100%' : true);}

div.outline-dark,
div.outline-medium,
div.outline-light{padding:0;border:none;}
div.outline-dark div.m,
div.outline-medium div.m,
div.outline-light div.m {padding:5px;}

#column-group-alpha ul.menu a {width:100%;}