@charset "utf-8";
/* -- Browser Normalization -- *//* http://meyerweb.com/eric/tools/css/reset/ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}
html{overflow-y:scroll}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,:focus{outline:0}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
img,a img{border:0}

/* -- Layout -- */
body{font-size:76%/* 12px in most modern browsers - used as basis of layout and typography. Calculate em based dims as "target dim(px) / container dim(px) = result in em" */}
#body-container,
#header-above{margin:0 auto;padding:0}
#load-first{float:left}

.main-only #content-main{float:left;width:100%}
.main-only #load-first{width:100%}

.alpha-1-main #load-first{width:100%}
.alpha-1-main #content-main{float:right;width:81% !important;width:79%}
.alpha-1-main #column-group-alpha{float:left;width:19%}

.alpha-2-main #load-first{width:100%}
.alpha-2-main #content-main{float:right;width:62% !important;width:60%}
.alpha-2-main #column-group-alpha{float:left;width:38%}

.main-beta-1 #content-main{float:left;width:100%}
.main-beta-1 #load-first{width:81% !important;width:79%}
.main-beta-1 #column-group-beta{float:right;width:19%}

.main-beta-2 #content-main{float:left;width:100%}
.main-beta-2 #load-first{width:62% !important;width:60%}
.main-beta-2 #column-group-beta{float:right;width:38%}

.alpha-1-main-beta-1 #load-first{width:81% !important;width:79%} 
.alpha-1-main-beta-1 #content-main{float:right;width:74.2% !important;width:72.2%}
.alpha-1-main-beta-1 #column-group-alpha{float:left;width:25.8%}
.alpha-1-main-beta-1 #column-group-beta{float:right;width:19%}

.alpha-2-main-beta-1 #load-first{width:81% !important;width:79%} 
.alpha-2-main-beta-1 #content-main{float:right;width:62% !important;width:60%} 
.alpha-2-main-beta-1 #column-group-alpha{float:left;width:38%}
.alpha-2-main-beta-1 #column-group-beta{float:right;width:19%}

.alpha-1-main-beta-2 #load-first{width:62% !important;width:60%} 
.alpha-1-main-beta-2 #content-main{float:right;width:65.5% !important;width:63.5%}
.alpha-1-main-beta-2 #column-group-alpha{float:left;width:34.5%}
.alpha-1-main-beta-2 #column-group-beta{float:right;width:38%}

.alpha-2-main-beta-2 #load-first{width:62% !important;width:60%} 
.alpha-2-main-beta-2 #content-main{float:right;width:38% !important;width:31%} 
.alpha-2-main-beta-2 #column-group-alpha{float:left;width:62%}
.alpha-2-main-beta-2 #column-group-beta{float:right;width:38%;}

/* -- spacing rules -- */
.gutter{margin:10px}
#column-group-alpha .gutter{margin:0 10px 0 0}
#column-group-beta .gutter{margin:0 0 0 10px}
#bottom-user-modules .gutter{margin-top:0}
#top-user-modules .gutter{margin-bottom:0}

/* -- dynamic module widths-- */
.count-1{float:left;width:100%} 
.count-2{float:left;width:50%}
.count-3{float:left;width:33.3%}
.count-4{float:left;width:25%}
.count-5{float:left;width:20%}
.count-6{float:left;width:16.6%}

/* -- column widths-- */
.cols-1{display:block;float:none !important; margin:0 !important;}
.cols-2 .item {width:47.8%;padding:1%}			
.cols-3 .item {width:30.9%;padding:1%}			
.cols-4 .item {width:22.4%;padding:1%}
.cols-5 .item {width:19.1%;padding:1%}
.cols-6 .item {width:15.9%;padding:1%}

.cols-2 .item,
.cols-3 .item,
.cols-4 .item,
.cols-5 .item,
.cols-6 .item {float:left}

.column-1, .items-more {clear:both;}

/* -- Base Typography -- */
body{color:#333;line-height:1.6em;}
body.arial{font-family:Arial, Helvetica, sans-serif}
body.arial-black{font-family:Arial Black, Gadget, sans-serif}
body.courier{font-family:"Courier New", Courier, monospace}
body.georgia{font-family:Georgia, serif}
body.helvetica{font-family:Helvetica,Arial,FreeSans,sans-serif;}
body.impact{font-family:Impact, Charcoal, sans-serif}
body.lucida-console{font-family:"Lucida Console", Monaco, monospace}
body.lucida-grande{font-family:"Lucida Grande",Lucida,Verdana,sans-serif}
body.lucida-sans{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif}
body.palatino{font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif}
body.tahoma{font-family:Tahoma, Geneva, sans-serif}
body.times{font-family:"Times New Roman", Times, serif}
body.trebuchet{font-family:"Trebuchet MS", Helvetica, sans-serif}
body.verdana{font-family:Verdana, Geneva, sans-serif}

a, 
a:link, 
a:visited,
a:focus,
a:active{text-decoration:none}
a:hover{text-decoration:underline}
b{font-weight:bold}
blockquote{border-left:10px solid #ddd;margin-left:10px}
code{font-family:"Courier New", Courier, monospace;font-size:1em;white-space:pre}
div{font-size:1em}
em{font-style:italic}
fieldset{font-size:100%}
form table{font-size:1.1em}
form{margin:0;padding:0}
hr{display:none}
h1{font-size:2em;font-weight:normal}
h2{font-size:1.7em;font-weight:normal}
h3{font-size:1.4em;font-weight:normal}
h4{font-size:1.2em;font-weight:bold}
h5{font-size:1.0em;font-weight:bold}
h6{font-size:0.8em;font-weight:bold}
p,dl,hr,pre,table,address{margin-bottom:1em}
h1,h2,h3,h4,h5,h6{margin:.3em 0}
h3+ul, h3+ol {margin-top:-.3em}
i{font-style:italic}
input.button{padding:0 10px}
li > p{margin:0.2em 0 0 1em}
ol,ul,li{font-size:1em;margin:0.2em 0;}
li{margin-left:1.25em}
.item ol,
.intro ol,
.item-page ol,
.items-leading ol {list-style:decimal}
.item ul,
.intro ul,
.item-page ul,
.items-leading ul {list-style:disc}
p{font-size:1em}
pre{font-family:monospace;font-size:1em;overflow-x:auto; /* Firefox 2 */
	white-space:pre-wrap; /* css-3 */
	white-space:-moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space:-pre-wrap; /* Opera 4-6 */
	white-space:-o-pre-wrap; /* Opera 7 */
	word-wrap:break-word; /* Internet Explorer 5.5+ */}
table{font-size:1em;line-height:1.8em;margin:1.5em 0;padding:0;width:100%}
table caption{font-weight:bold;margin:0;padding:0 0 1.5em}
textarea{font-size:100%;font-family:arial, serif}
td{font-size:1em;vertical-align:top}
th{font-weight:bold;text-align:left}
strong{font-weight:bold}
 
/* -- Editor Buttons -- */
.actions {float:right}
.actions li {float:left;list-style:none !important;margin:0 0 0 5px}
.article-info {}
.button2-left,
.button2-left div {float:left}
.button2-left a {font-size:.9em;display:block;float:left}
.button2-left .page a,
.button2-left .blank a,
.button2-left .article a {padding:0 6px}
.button2-left .image a,
.button2-left .pagebreak a,
.button2-left .readmore a {padding:0 25px 0 6px}
.button2-left a:hover{text-decoration:none}
.button2-left{background:url(../images/editor-buttons/j_button2_left.png) 0 0 no-repeat;float:left;margin-left:5px;padding-bottom:3px}
.button2-right{background:url(../images/editor-buttons/j_button2_right.png) 100% 0 no-repeat;float:left;margin-left:5px}
.button2-left .article {background:url(../images/editor-buttons/j_button2_blank.png) 100% 0 no-repeat}
.button2-left .image{background:url(../images/editor-buttons/j_button2_image.png) 100% 0 no-repeat}
.button2-left .readmore{background:url(../images/editor-buttons/j_button2_readmore.png) 100% 0 no-repeat}
.button2-left .pagebreak{background:url(../images/editor-buttons/j_button2_pagebreak.png) 100% 0 no-repeat}
.button2-left .blank{background:url(../images/editor-buttons/j_button2_blank.png) 100% 0 no-repeat}

table.category {border:1px solid #000}
.category thead {background:#333}
.category thead a {color:#fff}
.category tbody tr:hover{background:#dddddd}
.category td{padding:5px}
.category .cat-list-row0 {background:#eeeeee}
.category .cat-list-row1 {}
.category th img {padding-left:5px}
.contact{margin:10px 0}
.contact label{float:left;width:12em;margin:10px 0 0}
.contact form{padding:20px;margin:10px 0}
.contact input{padding:2px 2px 0;margin:10px 0 0}
.contact #contact-email-copy {position:relative;top:4px;}
.content_vote{margin:0 0 10px;display:block}
.content_vote input{margin:0 5px}
.content_vote .button{border:0;font-weight:bold;margin:20px 10px 0 0;padding:0 0 0 30px;cursor:pointer} 
.date-container {float:right}
.drop-shadow{-webkit-box-shadow:2px 2px 6px rgba(0,0,0,0.6); -moz-box-shadow:2px 2px 6px rgba(0,0,0,0.6); box-shadow:2px 2px 6px rgba(0,0,0,0.6); padding:5px;margin:5px}
.edit legend{font-size:1.2em;font-weight:bold;padding:2px}
.edit fieldset{border:solid 1px #ccc;padding:20px;margin:10px 0}
.edit .formelm label {display:inline-block;vertical-align:top;width:12em;}
.edit .formelm #jform_description-lbl {float:none;display:block}
.edit .formelm .radio label{float:none;width:14em}
.edit .formelm .radio label span{float:left;width:14em}
.edit .formelm-area label{float:none !important;display:block;font-weight:bold}
.even {background:#eeeeee}
ol.form{float:left; list-style:none; width:100%}
ol.form li{clear:both;float:left;margin:0 0 10px;width:100%;position:relative}
ol.form label{cursor:pointer;display:block;font-weight:bold;margin:0 10px 0 0}
ol.form input, 
ol.form textarea{font:inherit;padding:2px}
ol.form textarea{height:250px}
ol.form li.group label{margin:0; width:auto}
ol.form li.group{margin-bottom:0}
ol.form li.group ul{list-style:none; margin-left:100px}
ol.form li.group ul label{display:inline;float:none;font-weight:normal;margin:0 0 0 10px;width:auto}
ol.form li.group ul input{width:auto}
ol.form li.button button{margin:0 auto;display:block}
ol.form li.checkbox {float:left;width:10px}
ol.form span.error{position:absolute;top:0;right:0}
.inputbox:focus {border:2px solid #1A61AE}
input.invalid,
textarea.invalid{border:solid 2px #ff0000}
label.invalid{color:#ff0000;font-weight:bold}
.left {float:left}
.login-fields {padding:0 0 5px 0}
.login-fields label{cursor:pointer;display:block;float:left;margin:0 10px 0 0;min-width:90px}
ul.menu-horizontal li{float:left} /* Use -horizontal menu class suffix */
.outline{border:1px solid #ccc;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:5px;margin:5px}
.pagination{margin:10px 0 0;padding:10px 0}
.pagination{list-style-type:none;margin:0;padding:0}
.pagination li{display:inline;margin:0;padding:2px 5px 0 0}
.pagenav li {margin:0}
.pagenav-next {text-align:right}
.red,
.red a,
.green,
.green a,
.blue,
.blue a,
.orange,
.orange a{color:#FFF !important}
.red {background:#ff0000 !important}
.green {background:#00a33d !important}
.blue {background:#0060b6 !important}
.orange {background:#ff7f00 !important}
.rounded {-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:5px;margin:5px}
.right{float:right}
.search {float:left}
.search .only {border:solid 1px #ccc;margin:10px 0 10px 10px;padding:5px 10px 13px;line-height:1.3em}
.search .phrases .inputbox{display:block;height:1.5em;margin-top:10px;width:12em}
.search .phrases .inputbox option{border-bottom:solid 1px #333;padding:2px}
.search .phrases .inputbox option a:hover{background:#C00;border-color:#CFD0D6;color:#fff}
.search input{padding:3px 5px}
.search .word {padding:10px 10px 10px 0;border:solid 0 !important}		
.search .word input {border:1px solid #ccc;margin:0 0 0 10px;padding:2px}
.tip {float:left;background:#ffc;border:1px solid #D4D5AA;padding:5px;max-width:400px;z-index:50;-webkit-box-shadow:5px 5px 10px rgba(0,0,0,0.6);-moz-box-shadow:5px 5px 10px rgba(0,0,0,0.6);box-shadow:5px 5px 10px rgba(0,0,0,0.6)}
.tip-title {padding:0;margin:0;font-size:1em;font-weight:bold;margin-top:-15px;padding-top:15px;padding-bottom:5px;background:url(../images/selector-arrow.png) no-repeat;}
.tip-text {	font-size:1em;	margin:0;}

#access {float:left;clear:left}
#access li{float:left;margin:0;padding:2px 5px 3px}
#breadcrumbs{float:left;clear:left;margin:0 0 1em;padding:0}
#breadcrumbs span{font-size:0.9em;padding:7px}
#column-group-alpha h3{padding:0}
#column-group-alpha ul{list-style-type:none}
#column-group-alpha li{margin:0;padding:0}
#column-group-alpha p{padding:10px 0 0 0}
#column-group-beta h3{padding:0}
#column-group-beta ul{list-style-type:none}
#column-group-beta li{margin:0;padding:0}
#column-group-beta p{padding:10px 0 0 0}
#content-above {padding-bottom:15px}
#editor-xtd-buttons{background:#efefef;margin-top:1em}
#diagnostics {float:right;clear:right}
#footer {text-align:center;}
#footer ul.menu, #footer ul.menu li {display:inline;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;}
#footer ul.menu li a, #footer ul.menu li a:visited {font-weight:normal;padding:1px 3px;text-decoration:none;}
#form-login label{cursor:pointer;display:block;margin:0 10px 0 0;width:120px}
#form-login-remember label {float:left}
#form-login ul li {margin-left:0}
#header{margin:0;text-align:left}
#logo {float:left;margin:0}
#logo a:link,
#logo a:visited,
#logo a:hover{background:url(../images/logo.png) 0 0 no-repeat;display:block;width:300px;height:103px;text-decoration:none;text-indent:-9000em}
#logo a:focus{outline:none}
#siteinfo-legal{text-align:left;width:500px;margin:0 auto}	
#style-switch{list-style-type:none;float:right;clear:right}
#style-switch li{float:left;margin:0;padding:2px 5px 3px}
#syndicate {position:absolute;left:20px}
#system-message dt{display:none}
#system-message dd{clear:both;padding:5px 0;text-align:left;}
#system-message dd:after{clear:both;content:".";font:1px/0;display:block;height:0;visibility:hidden}
#system-message dd ul li{list-style:none}
#system-message dd.message{color:#0055BB;background:#C3D2E5;border-top:2px solid #84A7DB;border-bottom:2px solid #84A7DB}
#system-message dd.message ul{margin-bottom:0}
#system-message dd.warning{color:#F00;background:#FBAD18;border-top:2px solid #F57E20;border-bottom:2px solid #F57E20}
#system-message dd.warning ul{margin-bottom:0}
#system-message dd.error{color:#F00;background:#FBEEF1;border-top:2px solid #FEABB9;border-bottom:2px solid #FEABB9}

/* -- Menu CSS -- */
ul.menu a,
ul.menu span.seprator{display:block;padding:.1em .7em/*use padding to indent text*/}
ul.menu li{float:left;position:relative}
ul.menu ul{position:absolute;left:-999em;width:16em;/*sub-menu widths*/z-index:999}
ul.menu ul li{width:100%}
ul.menu ul ul{margin:0 0 0 100%;top:0}
#nav:after,
#column-group-alpha ul.menu:after,
#column-group-beta ul.menu:after{clear:both;content:".";font:1px/0;display:block;height:0;visibility:hidden}
#column-group-alpha ul.menu,
#column-group-beta ul.menu {padding:0}/*adjust to resize menus*/
#column-group-alpha ul.menu li,

#column-group-beta ul.menu li {width:100%;margin:0}
#column-group-alpha ul.menu ul {margin:0 0 0 100%;top:0}
#column-group-beta ul.menu ul {right:100%;top:0}
#nav ul, #nav li{margin:0;padding:0}
#nav ul.menu ul ul{margin:0 0 0 100%;top:0}

#nav{z-index:999;}
#nav ul.menu li a,
#nav ul.menu li span.separator{line-height:1.8em;padding:6px 15px 5px}
#nav ul.menu ul li a{border:none}

/* -- Right-aligned navigation -- */
/*#nav{float:right;margin:0 auto;position:relative;z-index:999}
#nav ul.menu li{float:right}

/* -- Left/Right Aligned Dropline Second Level-- */
/*#nav ul.menu ul {width:1024px;border:none}
#nav ul.menu ul li {width:13em}
#nav ul.menu ul li a{font-size:.8em;}
#nav ul.menu ul ul{margin:0 0 0 0;top:100%}

/* -- Left/Right Aligned Dropbox Second Level-- */
/*#nav ul.menu ul {width:400px;}
#nav ul.menu ul li {width:200px}
#nav ul.menu ul li a{font-size:.8em;}
#nav ul.menu ul ul{margin:0 0 0 100%;top:0}

/* -- Absolutely Positioned Centered Menu -- */
/*#nav{width:100%}
#nav ul{position:relative;float:right;right:50%}
#nav ul li{position:relative;float:left;left:50%;margin:0}
/* -- Second Level Centered Suckerfish-- */
/*#nav ul li ul{display:none;position:absolute;top:100%;left:0;right:auto}
#nav ul li ul li{left:auto;margin:0;clear:left;width:100%}
#nav ul li:hover ul{display:block}
#nav ul li.last ul{left:auto;right:0}/*Flip last item to keep witin area*/
/* -- Third Level Centered Suckerfish-- */
/*#nav ul li:hover ul li ul{display:none}
#nav ul li:hover ul li a,
#nav ul li:hover ul li:hover ul{display:block}

/* suckerfish functionality */
ul.menu li:hover ul ul,
ul.menu ul li:hover ul ul,
ul.menu ul ul li:hover ul ul,
ul.menu li.pie_hover ul ul,
ul.menu ul li.pie_hover ul ul,
ul.menu ul ul li.pie_hover ul ul {left:-999em}
ul.menu li:hover ul,
ul.menu ul li:hover ul,
ul.menu ul ul li:hover ul,
ul.menu ul ul ul li:hover ul,
ul.menu li.pie_hover ul,
ul.menu ul li.pie_hover ul,
ul.menu ul ul li.pie_hover ul,
ul.menu ul ul ul li.pie_hover ul{left:auto}
/* -- Dwyer Method for Image Replacement -- */ /* Fully browser compatible, works with screenreaders but doesn't work with images off/css on */
/*#nav ul.menu li a {display:block;width:100px;height:20px;background:url(../images/logo.png) -50px -50px no-repeat}
#nav ul.menu li a span{display:block;width:0;height:0;overflow:hidden;}*/
/* -- CSS Clearing -- */
.clearfix:after,.clearfix:before{clear:both;content:".";font:1px/0;display:block;height:0;visibility:hidden}/*:before is for gutter margin top*/
.clearfix{display:inline-block;display:block;min-width:0}
* html .clearfix{height:1%} 
.clear{clear:both}
/* -- Sticky Footer -- *//*http://www.cssstickyfooter.com/*/
html, .sticky-footer{height:100%}
.sticky-footer #footer-push{min-height:100%}
.sticky-footer #footer{position:relative;clear:both}
.sticky-footer:before{content:"";height:100%;float:left;width:0;margin-top:-32767px}/*Opera Fix*/
/* -- Docman Style Overrides -- */
#dm_docs h3.dm_title {float:left}
#dm_docs .dm_row .dm_description, #dm_docs .dm_row .dm_homepage {clear:left;float:left;}
#dm_docs .dm_row .dm_description p {margin-bottom:0}
/* -- Preview Module Styles for use with index.php?tp=1 -- */
.mod-preview{position:relative}
.mod-preview-wrapper{border:1px solid #ccc;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;-webkit-box-shadow:2px 2px 6px rgba(0,0,0,0.6); -moz-box-shadow:2px 2px 6px rgba(0,0,0,0.6); box-shadow:2px 2px 6px rgba(0,0,0,0.6); padding:5px 10px;margin:5px 0;opacity:0.9;background:#666;z-index:999;min-height:50px}
.mod-preview-wrapper div.moduletable, .mod-preview-wrapper div.moduletable_menu, .mod-preview-wrapper div.moduletable_text, .mod-preview-wrapper ul.menu, .mod-preview-wrapper #breadcrumbs{opacity:0}
.mod-preview-info{color:#fff;background:none;border:none;z-index:999;position:absolute;left:5px;top:5px;font-family:BebasNeueRegular;font-size:2em}
#left .mod-preview-wrapper,#left2 .mod-preview-wrapper,#right .mod-preview-wrapper,#right2 .mod-preview-wrapper{height:940px}
/*#breadcrumbs .mod-preview-wrapper{min-width:125px}.alpha-2-main-beta-2 #column-group-alpha{width:33%}.alpha-2-main-beta-2 #load-first{width:74% !important;}.alpha-2-main-beta-2 #column-group-beta{width:25%;}.alpha-2-main-beta-2 #content-main{width:67% !important;}#syndicate{bottom:120px;left:80px;position:absolute;}*/

/*bb*/