body {background:#999}
#body-container {background:#CCC}
#load-first{background:#09F} 
#content-main {background:#990}
#column-group-alpha,#column-group-beta {background:#9F0}
#column-group-alpha .moduletable,#column-group-beta .moduletable,#bottom-user-modules .moduletable,#footer .moduletable{background:#9C3}
#nav-below-1 {background:#C00}
#nav-below-2 {background:#C60}
#nav-below-3 {background:#C90}
#nav-below-4 {background:#CC0}
.gutter {background:#FF0}
#access,#diagnostics,#style-switch {background:#69F}
#breadcrumbs {background:#963}
#content-container {background:#060}
#bottom-user-modules {background:#090}
#top-user-modules {background:#0C0}
#branding {background:#066}
#header h1 a:link, #header h1 a:visited, #header h1 a:hover{background:#063}
#footer {background:#096}
#header {background:#F90}
#nav {background:#690}
#top-module {background:#63C}