@charset "utf-8";
/* CSS Document */
html {
    background: #f4f4f4 url(../images/example-fade.png) 50% 0 repeat-y !important;
    background: url(../images/example-fade.png) 50% 0 repeat-y /*for IE6*/
}

.componentheading,
.contentheading,
.je-header,
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif
}

a, a:link, a:visited, a:focus, a:active {
    text-decoration: none;
    color: #1A61AE
}

a:hover {
    color: #F57E20
}

.button2-left a:hover {
    color: #F57E20
}

button,
form.poll a,
a[title="Cancel"],
input[type="submit"] {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: url(../images/button-gradient.png) repeat-x 0 100% #fff;
    border: 1px solid #BDC0C4;
    color: #192832;
    padding: 3px 6px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 3px 5px 6px 0
}

a[title="Cancel"] {
    padding: 6px;
    color: #000 !important
}

button:hover,
.poll a:hover,
input[type="submit"]:hover {
    -webkit-box-shadow: 2px 2px 6px rgba(26, 97, 174, 1);
    -moz-box-shadow: 2px 2px 6px rgba(26, 97, 174, 1);
    box-shadow: 2px 2px 6px rgba(26, 97, 174, 1)
}

a[title="Cancel"]:hover {
    text-decoration: none;
    color: #333;
    -webkit-box-shadow: 2px 2px 6px rgba(237, 31, 36, 1);
    -moz-box-shadow: 2px 2px 6px rgba(237, 31, 36, 1);
    box-shadow: 2px 2px 6px rgba(237, 31, 36, 1)
}

button:active,
.poll a:active,
a[title="Cancel"]:active,
input[type="submit"]:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

table.category {
    border: 1px solid rgba(10, 163, 74, .8)
}

.category th a img {
    padding-left: 5px
}

.category .cat-list-row0,
.even,
.sectiontableentry1 {
    background: rgba(10, 163, 74, .2)
}

/* Current Item Indicator */
ul.menu #current a {
    color: #ED1F24
}

/* Active Item Trail */
ul.menu li a,
ul.menu .active li a,
ul.menu #current li a,
ul.menu li .active li a,
ul.menu li li .active li a,
ul.menu li li li .active li a {
    color: #1A61AE
}

ul.menu .active a,
ul.menu li .active a,
ul.menu li li .active a,
ul.menu li li li .active a,
ul.menu li li li li .active a {
    color: #0AA34A
}

/* Menu Hover Styles */
ul.menu li a:hover,
ul.menu #current a:hover,
ul.menu #current li a:hover,
ul.menu li span.separator:hover,
ul.menu li span.separator.pie_hover {
    color: #F57E20
}

ul.menu ul {
    border: 1px solid #999;
}

.readon {
    padding: 8px 50px 8px 0;
    background: url(../images/example-forward-icon.png) 100% 50% no-repeat
}

.sectiontableentry1:hover,
.sectiontableentry2:hover {
    background: rgba(10, 163, 74, .5) !important
}

#body-container {
    padding-top: 15px
}

#breadcrumbs {
    padding: 18px 0 10px 32px;
    background: url(../images/example-location-icon.png) 0 0 no-repeat
}

#column-group-alpha ul.menu li#current a {
    color: #ED1F24;
    font-weight: bold
}

#column-group-alpha ul.menu li#current li a {
    color: #1A61AE;
    font-weight: normal
}

/* menu parent item indicator */
#column-group-alpha ul.menu li.parent a,
#column-group-alpha ul.menu li.parent li.parent a,
#column-group-alpha ul.menu li.parent li.parent li.parent a,
#column-group-alpha ul.menu li.parent li.parent li.parent li.parent a {
    background: url(../images/example-right-arrow.png) 100% 50% no-repeat
}

#column-group-alpha ul.menu li.parent li a,
#column-group-alpha ul.menu li.parent li.parent li a,
#column-group-alpha ul.menu li.parent li.parent li.parent li a,
#column-group-alpha ul.menu li.parent li.parent li.parent li.parent li a {
    background: none
}

/*
ul.menu li.parent a:after,
ul.menu li ul li.parent a:after,
ul.menu li ul li ul li.parent a:after,
ul.menu li ul li ul li ul li.parent a:after,
ul.menu li.parent span.separator:after,
ul.menu li ul li.parent span.separator:after,
ul.menu li ul li ul li.parent span.separator:after,
ul.menu li ul li ul li ul li.parent span.separator:after{content:" +"}
ul.menu li.parent li a:after,
ul.menu li ul li.parent li a:after,
ul.menu li ul li ul li.parent li a:after,
ul.menu li ul li ul li ul li.parent li a:after,
ul.menu li.parent li span.separator:after,
ul.menu li ul li.parent li span.separator:after,
ul.menu li ul li ul li.parent li span.separator:after,
ul.menu li ul li ul li ul li.parent li span.separator:after{content:""}
*/
#column-group-alpha .moduletable,
#column-group-alpha .moduletable_menu,
#column-group-beta .moduletable,
#column-group-beta .moduletable_menu,
#content-top .moduletable,
#content-top .moduletable_menu,
#nav-below .moduletable,
#nav-below .moduletable_menu {
    background: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2)
}

#column-group-alpha .moduletable,
#column-group-alpha .moduletable_menu,
#column-group-beta .moduletable,
#column-group-beta .moduletable_menu {
    border: 1px solid #999;
    padding: 5px;
    margin: 5px 0;
}

#content-top .module,
#content-top .moduletable,
#content-top .moduletable_menu {
    border: 1px solid #999;
    padding: 5px;
    margin: 5px;
}

#footer {
    color: #999;
    background: #c4c4c4 url(../images/example-footer-bg.png) 0 0 repeat-x
}

#nav {
    border: 1px solid #999;
}

#nav ul.menu li a,
#nav ul.menu li span.separator {
    border-right: 1px solid #999;
}

#header {
    color: #999;
    background: #c4c4c4 url(../images/example-header-bg.png) 0 100% repeat-x
}

#header div.gutter {
    margin-top: 0;
}

#nav, ul.menu ul {
    background: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    margin: 5px 0 25px 0
}

#nav-below #content-above-1,
#nav-below #content-above-1 a,
#nav-below #content-above-2,
#nav-below #content-above-2 a,
#nav-below #content-above-3,
#nav-below #content-above-3 a,
#nav-below #content-above-4,
#nav-below #content-above-4 a {
    color: #fff
}

#nav-below #content-above-1 div {
    background: #00a33d !important
}

#nav-below #content-above-2 div {
    background: #0060b6 !important
}

#nav-below #content-above-3 div {
    background: #ff0000 !important
}

#nav-below #content-above-4 div {
    background: #ff7f00 !important
}

#to-page-top {
    position: absolute;
    top: 10px;
    right: 10px
}