@charset "utf-8";
/* CSS Document */
img {
    opacity: 0
}

a, body {
    color: #ccc !important
}

ul.menu a {
    background: #ccc !important;
    color: #ccc !important
}

#logo a, .module, .moduletable, .moduletable_menu {
    border: 1px solid #999;
    background: #ccc !important;
    color: #ccc !important
}