<?xml version="1.0" encoding="utf-8"?>
<form>
        <fields name="attribs">

            <fieldset
                name="module_slider"
                label="PLG_SYSTEM_EXTEND_FIELD_MODULE_SLIDER_LABEL"
                addfieldpath="/plugins/system/extend/fieldtypes/custom"
                >

                <field
                    name="module"
                    type="loadmodule"
                    position=""
                    module="Logged in users"
                    style="raw"
                    label="PLG_SYSTEM_EXTEND_FIELD_MODULE_LOADMODULE_LABEL"
                    description="PLG_SYSTEM_EXTEND_FIELD_MODULE_LOADMODULE_DESC"
                    >
                </field>

         </fieldset>
    </fields>
</form>