@charset "utf-8";

/* _________________________________________________

Partly inspired by 320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Keith Clark 
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
*/
body {
        font-size: 76%;
    }
    /* 12px in most modern browsers - used as basis of layout and typography.
     * Calculate em based dims as: target dim(px) / container dim(px) = result in em
     */
div {
    -o-transition: all 1s linear; 
    -moz-transition: all 1s linear; 
    -webkit-transition: all 1s linear;
    -ms-transition: all 1s linear;
    transition: all 1s linear;
}

/* 480px */
@media only screen and (max-width: 480px) {
    #body-container {
        width: 95%;
    }
    .alpha-1-main #content-main, .alpha-1-main #column-group-alpha, .alpha-2-main #load-first, .alpha-2-main #content-main, .alpha-2-main #column-group-alpha, .main-beta-1 #content-main, .main-beta-1 #load-first, .main-beta-1 #column-group-beta, .main-beta-2 #content-main, .main-beta-2 #load-first, .main-beta-2 #column-group-beta, .alpha-1-main-beta-1 #load-first, .alpha-1-main-beta-1 #content-main, .alpha-1-main-beta-1 #column-group-alpha, .alpha-1-main-beta-1 #column-group-beta, .alpha-2-main-beta-1 #load-first, .alpha-2-main-beta-1 #content-main, .alpha-2-main-beta-1 #column-group-alpha, .alpha-2-main-beta-1 #column-group-beta, .alpha-1-main-beta-2 #load-first, .alpha-1-main-beta-2 #content-main, .alpha-1-main-beta-2 #column-group-alpha, .alpha-1-main-beta-2 #column-group-beta, .alpha-2-main-beta-2 #load-first, .alpha-2-main-beta-2 #content-main, .alpha-2-main-beta-2 #column-group-alpha, .alpha-2-main-beta-2 #column-group-beta, .count-1, .count-2, .count-3, .count-4, .count-5, .count-6, .cols-1, .cols-2 .item, .cols-3 .item, .cols-4 .item, .cols-5 .item, .cols-6 .item, .cols-2 .item, .cols-3 .item, .cols-4 .item, .cols-5 .item, .cols-6 .item {
        float: none;
        margin: 0 auto;
        width: 100%;
    }
    #column-group-alpha , #column-group-beta {
        float: right;
    }
    .count-2 div, .count-3 div, .count-4 div {
        word-wrap: break-word;
    }
    * .gutter, #column-group-alpha .gutter, #column-group-beta .gutter {
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    #body-container {
        width: 95%;
    }
    .alpha-2-main #load-first, .main-beta-1 #load-first, .main-beta-2 #load-first, .alpha-1-main-beta-1 #load-first, .alpha-2-main-beta-1 #load-first, .alpha-1-main-beta-2 #load-first, .alpha-2-main-beta-2 #load-first, .main-beta-1 #column-group-beta, .main-beta-2 #column-group-beta, .alpha-1-main-beta-1 #column-group-beta, .alpha-2-main-beta-1 #column-group-beta, .alpha-1-main-beta-2 #column-group-beta, .alpha-2-main-beta-2 #column-group-beta, .count-1, .count-2, .count-3, .count-4, .count-5, .count-6, .cols-1, .cols-2 .item, .cols-3 .item, .cols-4 .item, .cols-5 .item, .cols-6 .item, .cols-2 .item, .cols-3 .item, .cols-4 .item, .cols-5 .item, .cols-6 .item {
        float: none;
        margin: 0 auto;
        width: 100%;
    }
    .alpha-1-main #column-group-alpha, .alpha-2-main #column-group-alpha, .alpha-1-main-beta-1 #column-group-alpha, .alpha-2-main-beta-1 #column-group-alpha, .alpha-1-main-beta-2 #column-group-alpha, .alpha-2-main-beta-2 #column-group-alpha,
    .alpha-1-main #content-main, .alpha-2-main #content-main, .main-beta-1 #content-main, .main-beta-2 #content-main, .alpha-1-main-beta-1 #content-main, .alpha-2-main-beta-1 #content-main, .alpha-1-main-beta-2 #content-main, .alpha-2-main-beta-2 #content-main {
        float: left;
    }
    .count-2 div, .count-3 div, .count-4 div {
        word-wrap: break-word;
    }
    * #column-group-alpha .gutter {
        margin: 0;
        margin-left: 1em;
    }
    * .gutter, #column-group-beta .gutter {
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {

    .count-1, .count-2, .count-3, .count-4, .count-5, .count-6, .cols-1, .cols-2 .item, .cols-3 .item, .cols-4 .item, .cols-5 .item, .cols-6 .item, .cols-2 .item, .cols-3 .item, .cols-4 .item, .cols-5 .item, .cols-6 .item {
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    .count-2 div, .count-3 div, .count-4 div {
        word-wrap: break-word;
    }
    * .gutter {
        margin: 0;
    }
}

/* =============================================================================
   grid.css
   ========================================================================== */

@media only screen and (min-width: 769px) {

    #body-container,
    #header-above {
        margin: 0 auto;
        padding: 0;
    }

    #load-first,
    #footer-above {
        float: left;
    }

    #footer-above {
        width: 100%;
    }

    .main-only #content-main {
        float: left;
        width: 100%;
    }

    .main-only #load-first {
        width: 100%;
    }

    .alpha-1-main #load-first {
        width: 100%;
    }

    .alpha-1-main #content-main {
        float: right;
        width: 81%;
    }

    .alpha-1-main #column-group-alpha {
        float: left;
        width: 19%;
    }

    .alpha-2-main #load-first {
        width: 100%;
    }

    .alpha-2-main #content-main {
        float: right;
        width: 62%;
    }

    .alpha-2-main #column-group-alpha {
        float: left;
        width: 38%;
    }

    .main-beta-1 #content-main {
        float: left;
        width: 100%;
    }

    .main-beta-1 #load-first {
        width: 81%;
    }

    .main-beta-1 #column-group-beta {
        float: right;
        width: 19%;
    }

    .main-beta-2 #content-main {
        float: left;
        width: 100%;
    }

    .main-beta-2 #load-first {
        width: 62%;
    }

    .main-beta-2 #column-group-beta {
        float: right;
        width: 38%;
    }

    .alpha-1-main-beta-1 #load-first {
        width: 81%;
    }

    .alpha-1-main-beta-1 #content-main {
        float: right;
        width: 74.2%;
    }

    .alpha-1-main-beta-1 #column-group-alpha {
        float: left;
        width: 25.8%;
    }

    .alpha-1-main-beta-1 #column-group-beta {
        float: right;
        width: 19%;
    }

    .alpha-2-main-beta-1 #load-first {
        width: 81%;
    }

    .alpha-2-main-beta-1 #content-main {
        float: right;
        width: 62%;
    }

    .alpha-2-main-beta-1 #column-group-alpha {
        float: left;
        width: 38%;
    }

    .alpha-2-main-beta-1 #column-group-beta {
        float: right;
        width: 19%;
    }

    .alpha-1-main-beta-2 #load-first {
        width: 62%;
    }

    .alpha-1-main-beta-2 #content-main {
        float: right;
        width: 65.5%;
    }

    .alpha-1-main-beta-2 #column-group-alpha {
        float: left;
        width: 34.5%;
    }

    .alpha-1-main-beta-2 #column-group-beta {
        float: right;
        width: 38%;
    }

    .alpha-2-main-beta-2 #load-first {
        width: 62%;
    }

    .alpha-2-main-beta-2 #content-main {
        float: right;
        width: 38%;
    }

    .alpha-2-main-beta-2 #column-group-alpha {
        float: left;
        width: 62%;
    }

    .alpha-2-main-beta-2 #column-group-beta {
        float: right;
        width: 38%;
    }

    /* =============================================================================
       spacing rules
       ========================================================================== */

    .gutter {
        margin: 10px;
    }

    #column-group-alpha .gutter {
        margin: 0 10px 0 0;
    }

    #column-group-beta .gutter {
        margin: 0 0 0 10px;
    }

    /* =============================================================================
       dynamic module widths
       ========================================================================== */

    .count-1 {
        float: left;
        width: 100%;
    }

    .count-2 {
        float: left;
        width: 50%;
    }

    .count-3 {
        float: left;
        width: 33.3%;
    }

    .count-4 {
        float: left;
        width: 25%;
    }

    .count-5 {
        float: left;
        width: 20%;
    }

    .count-6 {
        float: left;
        width: 16.6%;
    }

    /* =============================================================================
       column widths 
       ========================================================================== */

    .cols-1 {
        display: block;
        float: none !important;
        margin: 0 !important;
    }

    .cols-2 .item {
        width: 47.8%;
        padding: 1%;
    }

    .cols-3 .item {
        width: 30.9%;
        padding: 1%;
    }

    .cols-4 .item {
        width: 22.4%;
        padding: 1%;
    }

    .cols-5 .item {
        width: 19.1%;
        padding: 1%;
    }

    .cols-6 .item {
        width: 15.9%;
        padding: 1%;
    }

    .cols-2 .item,
    .cols-3 .item,
    .cols-4 .item,
    .cols-5 .item,
    .cols-6 .item {
        float: left;
    }

    .column-1,
    .items-more {
        clear: both;
    }

    .alpha-2-main-beta-2 #column-group-alpha {
    width: 33%;
    }

    .alpha-2-main-beta-2 #load-first {
        width: 74%;
    }

    .alpha-2-main-beta-2 #column-group-beta {
        width: 25%;
    }

    .alpha-2-main-beta-2 #content-main {
        width: 67%;
    }
}

/* 2x */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (-o-min-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5) {

}