#container{
    width: 500px;
    margin: auto;
}

#top{
    background-image:url(top.png);
    width: 500px;
    height: 67px;
}

#mid{
    background-image:url(mid.png);
    width: 440px;
    padding:30px;
}

#bottom{
    background-image:url(bottom.png);
    width: 500px;
    height: 40px;
}
