.odd {}"@charset ""utf-8"";"
/* Joomla! 1.6 Classes and IDs based on the work of HarryB http://rc.hrpr.com/j16/ */
/* Core CSS Classes*/
.actions {}
.active {}
.archive {}
.archive-module {}
.article-separator {}
.article-info {}
.article-info-term {}
.bannerfooter  {}
.bannergroup {}
.banneritem  {}
.blog {}
.blog-featured {}
.breadcrumb {}
.button {}
.button {}
.button2-left .article
.button2-left .image
.button2-left .readmore
.button2-left .pagebreak
.button2-left .blank
.cat-children {}
.categories-list {}
.categories-module {}
.category {}
.category-desc {}
.category-list {}
.category-module {}
.category-name {}
.cat-items {}
.cat-list-row0 {}
.cat-list-row1 {}
.class stats-module  {}
.clr {}
.cols-n {}
.column-n {}
.contact {}
.contact-category {}
.contact-formname {}
.contact-emailmsg {}
.contact-email-copy {}
.contact-textmsg {}
.contact-subject
.contact-links {}
.contact-misc {}
.contact-miscinfo {}
.contact-name {}
.contact-position {}
.content {}
.contentpane {}
.counter {}
.create {}
.createdby {}
.display-limit {}
.edit-icon {}
.element-invisible {}
.email-icon {}
.error {}
.even {}
.feed {}
.feed-description {}
.feed-item-description {}
.feed-link {}
.filters {}
.filter-search {}
.filter-search-lbl {}
.first {}
.footer {}
.form-validate {}
.formelm {}
.formelm-area {}
.formelm-buttons {}
.hasTip {}
.header {}
.hidelabeltxt {}
.hits {}
.input {}
.inputbox {}
.inputbox {}
.item-email {}
.item-link {}
.item-num {}
.item-num-art {}
.item-page {}
.item-phone {}
.item-position {}
.item-separator {}
.item-suburb {}
.items-leading {}
.items-row {}
.item-title {}
.cat-children {}
.contact-address {}
.contact-contactinfo {}
.contact-country {}
.contact-fax {}
.contact-mobile {}
.contact-postcode {}
.contact-state {}
.contact-suburb {}
.contact-telephone {}
.contact-webpage {}
.icons-icons {}
.item-title {}
.pane-slider {}
.pane-toggler {}
.last {}
.latestnews {}
.latestusers  {}
.leading-n {}
.list-author {}
.list-date {}
.list-hits {}
.list-title {}
.login {}
.login-description {}
.login-fields {}
.menu {}
.message {}
.mod-languages {}
.mod-articles-category-category  {}
.mod-articles-category-date {}
.mod-articles-category-hits  {}
.mod-articles-category-title {}
.mod-articles-category-writtenby {}
.modified {}
.moduletable {}
.mostread {}
.newsfeed {}
.newsfeed-category {}
.newsfeed-item  {}
.newsflash  {}
.newsflash-horiz {}
.newsflash-item  {}
.newsflash-title {}
.num {}
.odd {}
.only {}
.optional {}
.ordering {}
.ordering-box {}
.pagination {}
.pagination-end {}
.pagination-next {}
.pagination-prev {}
.pagination-start {}
.pagenav {}
.pagenav-prev {}
.pagenav-next {}
.panel {}
.pane-sliders {}
.pathway {}
.phrases {}
.phrases-box {}
.print-icon {}
.profile {}
.profile-edit {}
.published {}
.radiobtn-all {}
.radiobtn-any {}
.radiobtn-exact {}
.random-image  {}
.readmore  {}
.readmore {}
.redirect-ltr {}
.relateditems  {}
.remind {}
.required {}
.reset {}
.row0 {}
.row1 {}
.row-n {}
.row-separator {}
.search {}
.search {}
.searchintro {}
.separator {}
.subheading-category {}
.syndicate-module {}
.title {}
.validate {}
.validate-email {}
.validate-password {}
.validate-username {}
.weblink-category {}
.weblinks {}
.whosonline {}
.word {}
.wrapper{}
/* Core CSS IDs*/
#archive-items {}
#area-categories {}
#area-contacts {}
#area-content {}
#area-newsfeeds {}
#area-weblinks {}
#basic-details {}
#blockrandom {}
#contact-slider {}
#current {}
#display-links {}
#display-misc {}
#filter-search {}
#form-login-password {}
#form-login-remember {}
#form-login-username {}
#Form {}
#form-email {}
#form-email1 {}
#form-email1-lbl {}
#form-email2 {}
#form-email2-lbl {}
#form-email-lbl {}
#form-id {}
#form-name {}
#form-name-lbl {}
#form-password1 {}
#form-password1-lbl {}
#form-password2 {}
#form-password2-lbl {}
#form-username {}
#form-username-lbl {}
#limit {}
#member-profile {}
#member-registration {}
#mod-search-searchword {}
#modlgn-passwd {}
#modlgn-remember {}
#modlgn-username {}
#month {}
#navigation {}
#ordering {}
#password {}
#password-lbl {}
#search-searchword {}
#searchForm {}
#searchphraseall {}
#searchphraseall-lbl {}
#searchphraseany {}
#searchphraseany-lbl {}
#searchphraseexact {}
#searchphraseexact-lbl {}
#tableOrdering {}
#tableOrdering2 {}
#tableOrdering3 {}
#tableOrdering4 {}
#username {}
#username-lbl {}
#user-registration {}
#users-profile-core {}
#users-profile-custom {}
#year {}