/*! Customize.css v 1 | MIT License */

/*! Grid row */
.odd {
    background-color: #DBDBDB;
    padding-top: .5em
}

.even {
    padding-top: .5em
}

.edit-title {
}

.edit-editor {
}

.edit-foooter {
}

.edit-sidebar1, .edit-sidebar2, .edit-sidebar3 {
}

/*! Footer*/
.footer-bottom {
    background: #333333;
    padding: 24px 0 10px;
}

.footer-bottom {
    border-bottom: 1px solid #484848;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.footer-bottom ul.footer-links {
    margin: 0;
    display: inline-block;
    padding-bottom: 0px;
}

.footer-bottom ul.footer-links li {
    display: block;
    float: left;
    margin-left: 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
}

.footer-bottom ul.footer-links li a {
    color: #666666;
    padding: 3px 6px;
}

.footer-bottom ul.footer-links li a:hover {
    color: #777777;
}

.footer-bottom p.copyright {
    margin: 6px 0 0;
    font-size: 0.75rem;
    color: #666666;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -60px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.footer-bottom, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 80px;
    background: #333333;
}

.order-down, .order-up {
    padding-right: 5px
}

.fi-star {
    color: gold;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center
}

.center {
    text-align: center
}
