/*
Copyright 2011, Cristina Solana
Resets inspired by: html5doctor.com Reset Stylesheet v1.6.1 | Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
	background: #f4f4f4 url(images/bg_body.jpg) repeat-y 0 0;
	font: normal 13px/1.5em Helvetica, Arial, sans-serif;
	}
h1, h2, h3, h4, h5, h6, b, strong {
	font-weight: bold;
}
	h2 {
		font: 2em/.75em;
	}
	h2 {
		font: 1.5em/1em;
	}
	h2 {
		font: 1.25em/1.2em;
	}
	
h1, h2, h3, h4, h5, h6, p, code, pre, kbd, blockquote, q, cite {
	margin:0 0 1em 0;
}
ul, ol {
	margin: 0 0 1em 0;
    list-style: none;
}
	ul li {
		list-style-type: disc;
	}
	ol li {
		list-style-type: decimal;
	}
	ol ol li {
		list-style: lower-alpha;
	}
	ol ol ol li {
		list-style: lower-roman;
	}
	ol ol ol ol li {
		list-style: lower-alpha;
	}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
	color: #7EC1E0;
}
	a:hover {
		color: #7ED7F2;
	}
code, kbd, pre, samp, tt {
	font: 1em/1.5em 'Andale Mono', 'Lucida Console', monospace;
}
hr {
    display:block;
    height:1px;
    border:0;
    border-top: 1px solid #ccc;
    margin:1.5em 0;
    padding:0;
}
table {
	margin-bottom:1.4em;
	width:100%;
	border: 1px solid #444
	border-collapse: collapse;
	border-spacing: 0;
}
	th {
		font-weight:bold;
	}
	th, td, caption {
		padding:4px 10px 4px 5px;
	}
	tfoot {
		font-style:italic;
	}
* html .cf {
    height: 1%;
}
* + html .cf {
	display: inline-block;
}
.cf:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Forms
----------------------------------*/
input, select {
	padding: 6px;
	border: 1px solid #bbb;
	outline: 0; /* change */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	color: #444;
	vertical-align: middle;
	}
	input:hover, select:hover, input:focus, select:focus {
		border: 1px solid #e4e4e4;
		}
a.button, button, input[type="submit"], ol li.buttons button {
	margin: 1em 0;
	padding: 12px 24px;
	border: 1px solid #7ed7f2;
	background: #7ec1e0;
	background: -moz-linear-gradient(100% 100% 90deg, #7ec1e0, #9ed7f2); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9ed7f2), to(#7ec1e0));
	-moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,.3), 2px 2px 3px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,.3), 2px 2px 3px rgba(0,0,0,.1);
	border-box-shadow: inset 1px 1px 1px rgba(255,255,255,.3), 2px 2px 3px rgba(0,0,0,.1);
	font: bold .9em/1em sans-serif;
	color: #222;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
}
	a:hover.button, button:hover, input[type="submit"]:hover {
		background: #9ed7f2;
		background: #58a1c2 url() 50% 50% repeat-x;
		background: -moz-linear-gradient(100% 100% 90deg, #58a1c2, #7ec1e0); 
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7ec1e0), to(#58a1c2));
	}

/* Header
----------------------------------*/
header {
	margin: 0;
	padding: 20px 24px;
	border-bottom: 1px solid #fff;
	background: #111;
	background: -moz-linear-gradient(100% 100% 90deg, #111, #000); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#111), to(#000));
	}
	header h1 {
		margin: 0;
		height: 40px;
		background: url(images/logo_molajo.png) no-repeat 0 50%;
		color: #f9f9f9;
		text-indent: -99999px;
		}
	
/* Launchpad
----------------------------------*/
nav#launchpad {
	position: absolute;
	top: 80px;
	left: 0;
	width: 224px;
	background: #f0f0f0;
	}
.menu_main {
	margin: 0 0 0 24px;
	padding: 0;
	height: 32px;
	line-height: 32px;
	background: #f4f4f4;
	list-style: none;
	}
.menu_main li {
	list-style-type: none;
	}
.menu_main li a {
	display: inline-block;
	float: left;
	margin: 8px 16px 0 0;
	width: 16px;
	height: 16px;
	line-height: 16px;
	border: 0;
	background: url(images/iconic_16.png) no-repeat top left transparent;
}
.menu_main li a:hover {
	background: url(images/iconic_16_7ec1e0.png) no-repeat top left transparent;
}
.menu_sub li {
	line-height: 2em; 
	}
	
/* Launchpad: Icons
----------------------------------*/
.menu_main li a.icon_configure {
	background-position: 0 -240px;
	}
.menu_main li a.icon_access{
	background-position: 0 -1104px;
	}
.menu_main li a.icon_create {
	background-position: 0 -336px;
	}
.menu_main li a.icon_build {
	background-position: 0 -48px;
	}
.menu_main li a.icon_search {
	float: right;
	background-position: 0 -576px;
	}
	
/* Dashboard
----------------------------------*/
section {
	position: relative;
	margin: 0 0 0 225px;
	padding: 28px 4em 4em;
	box-shadow: -5px -5px 10px rgba(150,150,150,.1);
	}
.com_dashboard {
	margin: 0 0 28px;
	padding: 0;
	}
.com_dashboard li {
	float: left;
	margin-right: 16px;
	padding: 4px 6px; /* really should be on a, but I can't be bothered with details right now. :P */
	border: 1px solid #ddd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #ddd;
	background: -moz-linear-gradient(100% 100% 90deg, #f4f4f4, #e4e4e4); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#e4e4e4));
	-moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,1);
	-o-box-shadow: inset 1px 1px 1px rgba(255,255,255,1);
	-ms-box-shadow: inset 1px 1px 1px rgba(255,255,255,1);
	box-shadow: inset 1px 1px 1px rgba(255,255,255,1);
	list-style-type: none;
	}
.com_dashboard li:hover {
	background: -moz-linear-gradient(100% 100% 90deg, #f9f9f9, #e9e9e9); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e9e9e9));
	}
.com_dashboard li a {
	float: left;
	display: block;
	text-decoration: none;
	color: #444;
	border: 0;
	background: url(images/iconic_16.png) no-repeat top left transparent;
}
.com_dashboard li a:hover {
	background: url(images/iconic_16_7ec1e0.png) no-repeat top left transparent;
	color: #222;
}
.com_dashboard li a span {
	margin: 0 0 0 22px;
	padding: 8px 0;
	}
	
/* Dashboard: Icons
----------------------------------*/ 
 .com_dashboard li a.save {
	background-position: 0 -192px;
	}
.com_dashboard li a.save-copy{
	background-position: 0 -144px;
	}
.com_dashboard li a.revert {
	background-position: 0 -960px;
	}
.com_dashboard li a.close {
	background-position: 0 -1248px;
	}
.com_dashboard li a.edit-new {
	background-position: 0 -816px;
	}
 .com_dashboard li a.delete {
	background-position: 0 -1200px;
	}
.com_dashboard li a.new {
	background-position: 0 -912px;
	}
.com_dashboard li a.edit {
	background-position: 0 -816px;
	}
.com_dashboard li a.feature {
	background-position: 0 -432px;
	}
.com_dashboard li a.sticky {
	background-position: 0 -864px;
	}
.com_dashboard li a.archive {
	background-position: 0 -96px;
	}
.com_dashboard li a.spam {
	background-position: 0 -288px;
	}
.com_dashboard li a.checkin {
	background-position: 0 -624px;
	}
.com_dashboard li a.trash {
	background-position: 0 -1056px;
	}
.com_dashboard li a.publish {
	background-position: 0 -1008px;
	}
.com_dashboard li a.unpublish {
	background-position: 0 -672px;
	}
	
/* Editor: icons
----------------------------------*/
.com_dashboard li a.audio {
	background-position: 0 -1152px;
	}
.com_dashboard li a.file {
	background-position: 0 -384px;
	}
.com_dashboard li a.image {
	background-position: 0 -480px;
	}
.com_dashboard li a.link {
	background-position: 0 -528px;
	}
.com_dashboard li a.pagebreak {
	background-position: 0 -768px;
	}
.com_dashboard li a.readmore {
	background-position: 0 0;
	}
.com_dashboard li a.video {
	background-position: 0 -720px;
	}

/* Footer
 * TODO: Sticky Footer
----------------------------------*/

footer {
	padding: 2em;
	text-align: center;
	color: #ccc;
}
	
/* Dashboard: Edit | Content
----------------------------------*/

/* Dashboard: Edit | Content | Search Bar
----------------------------------*/
 
/* Dashboard: Edit | Access
----------------------------------*/
 
/* Dashboard: Edit | Properties
----------------------------------*/

/* Admin: com_login
----------------------------------*/
#form-login {
	width: 220px; 
	margin: 40px auto 0;
	padding: 40px;
	border: 1px solid #d4d4d4;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,1);
	-o-box-shadow: inset 1px 1px 1px rgba(255,255,255,1);
	-ms-box-shadow: inset 1px 1px 1px rgba(255,255,255,1);
	box-shadow: inset 1px 1px 1px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,.1);
	}
#form-login:hover {
	-moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,1), 3px 3px 10px rgba(150,150,150,.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,1), 3px 3px 10px rgba(150,150,150,.1);
	-o-box-shadow: inset 1px 1px 1px rgba(255,255,255,1), 3px 3px 10px rgba(150,150,150,.1);
	-ms-box-shadow: inset 1px 1px 1px rgba(255,255,255,1), 3px 3px 10px rgba(150,150,150,.1);
	box-shadow: inset 1px 1px 1px rgba(255,255,255,1), 0px 0px 20px rgba(150,150,150,.2);
	}
.loginform input, .loginform select {
	display: block;
	width: 208px;
	margin-bottom: 20px;
	}
.loginform input[type="submit"] {
	width: auto;
	margin-bottom: 0;
	}
 
/*
 * jQuery UI CSS Framework 1.8.15
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 */


/* Component containers
----------------------------------*/
.ui-widget, .ui-widget .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { 
	font-size: 1em; 
	}
.ui-widget-content { 
	border: 0px solid #aaaaaa; 
	background: #ffffff url() / 50% 50% repeat-x; 
	color: #222222; 
	}
.ui-widget-content a { 
	color: #222222; 
	}
.ui-widget-header { 
	border: 0px solid #aaaaaa; 
	color: #222222; 
	font-weight: bold; 
	}
.ui-widget-header a { 
	color: #222222; 
	}

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { 
	border-top: 1px solid rgba(255,255,255,1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	background: #f0f0f0 url() 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
	}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
	}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { 
	background: #f4f4f4 url() 50% 50% repeat-x;
	font-weight: normal;
	color: #212121; 
	}
.ui-state-hover a, .ui-state-hover a:hover {
	color: #212121;
	text-decoration: none; 
	}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { 
	background: #7ec1e0 url() 50% 50% repeat-x;
	background: -moz-linear-gradient(100% 100% 90deg, #9ed7f2, #7ec1e0); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9ed7f2), to(#7ec1e0));
	font-weight: normal;
	color: #212121; 
	}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
	}
.ui-widget :active {
	outline: none;
	}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {
	border: 1px solid #fcefa1;
	background: #fbf9ee url() 50% 50% repeat-x;
	color: #363636;
	}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { 
	color: #363636; 
	}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a; 
	background: #fef1ec url() 50% 50% repeat-x;
	color: #cd0a0a; 
	}
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
	color: #cd0a0a; 
	}
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { 
	color: #cd0a0a; 
	}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { 
	font-weight: bold; 
	}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { 	
	opacity: .7; 
	filter:Alpha(Opacity=70); 
	font-weight: normal; 
	}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { 
	opacity: .35; 
	filter:Alpha(Opacity=35); 
	background-image: none; 
	}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { 
	width: 16px; 
	height: 16px; 
	background-image: url(images/ui-icons_222222_256x240.png); 
	}
.ui-widget-content .ui-icon,.ui-widget-header .ui-icon {
	background-image: url(images/ui-icons_222222_256x240.png); 
	}
.ui-state-default .ui-icon { 
	background-image: url(images/ui-icons_888888_256x240.png); 
	}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-state-active .ui-icon {
	background-image: url(images/ui-icons_454545_256x240.png); 
	}

/* positioning */
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }