			<div class="cf">
				<ul class="com_dashboard cf">
					<!-- Editor View Buttons -->
					<li><a href="#" class="save"><span>Save</span></a></li>
					<li><a href="#" class="copy"><span>Save As Copy</span></a></li>
					<li><a href="#" class="revert"><span>Revert</span></a></li>
					<li><a href="#" class="edit-new"><span>New</span></a></li>
					<li><a href="#" class="close"><span>Close</span></a></li>
				</ul>
			</div>
			<div id="tabs">
				<ul>
					<li><a href="#tabs-1">Content</a></li>
					<li><a href="#tabs-2">Access</a></li>
					<li><a href="#tabs-3">Properties</a></li>
				</ul>
				<div id="tabs-1">
					<form>
						<label><span>Title </span><br /><input type="text" /></label><br /><br />
						<ul class="editor cf">
							<li><a href="#" class="feature"><span>Feature</span></a></li>
							<li><a href="#" class="sticky"><span>Sticky</span></a></li>
							<li><a href="#" class="publish"><span>Publish</span></a></li>
							<li><a href="#" class="unpublish"><span>Unpublish</span></a></li>
						</ul>
						<label><span>Editor or not</span><br /><textarea rows="10" cols="80" resizable></textarea></label>
					</form>
				</div>
				<div id="tabs-2">Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.</div>
				<div id="tabs-3">Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.</div>
			</div>