				<div class="cf">
					<ul class="com_dashboard cf">
						<!-- Editor View Buttons -->
						<li><a href="#" class="new"><span>New</span></a></li>
						<li><a href="#" class="edit"><span>Edit</span></a></li>
						<li><a href="#" class="delete"><span>Delete</span></a></li>
						<li><a href="#" class="trash"><span>Empty</span></a></li>
						<li><a href="#" class="spam"><span>Spam</span></a></li>
						<li><a href="#" class="archive"><span>Archive</span></a></li>
						<li><a href="#" class="checkin"><span>Checkin</span></a></li>
					</ul>
				</div>
				<div id="list">
					<form class="com_search">
						<label><span>Search /Filter </span><input type="email" /></label><select><option>Filter Something</option><option>Nothing to see here</option></select>
					</form>
				</div>