			<div id="accordion" class="menu_sub">
				<div>
					<h2><a href="?dash">Articles</a></h2>
					<ul>
						<li><a href="?edit">Add</a></li>
						<li><a href="?list">Edit</a></li>
					</ul>
				</div>
				<div>
					<h2><a href="?dash">Media</a></h2>
					<ul>
						<li><a href="?edit">Add</a></li>
						<li><a href="?list">Edit</a></li>
					</ul>
				</div>
				<div>
					<h2><a href="?dash">Other</a></h2>
					<ul>
						<li><a href="?edit">Add</a></li>
						<li><a href="?list">Edit</a></li>
					</ul>
				</div>
			</div>